@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');
*,*::after, *::before {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
#navbar {
    background: #000000;
    color: #fff;
    height: auto;
}
#navLogo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    object-fit: cover;
}
#logotext {
    margin-top: 10px;
    font-family: fantasy;
    font-weight: 900;
    font-size: 1.3rem;
}
.toggleIcon {
    color: #fff;
    margin-top: 5px;
    font-size: 35px;
}
.btnGroup {
    display: inline-flex;
}
#btnSearch {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-family: fantasy;
    width: auto;
    font-weight: 600px;
    text-align: center;
    border-radius: 2px;
    transition: 0.5s;
}
#registerBtn {
    background: red;
    width: auto;
    color: #fff;
    font-family: fantasy;
    font-weight: 600px;
    text-align: center;
    transition: 0.5s;
    border-radius: 2px;
    margin-left: 10px;
}
#registerBtn:hover {
    background: #fff;
    color: red;
    
}


@media screen and (max-width: 768px) {
    #navLogo {
        width: 60px;
    }
    .btnGroup {
      display: inline-flex;
    }
}
