@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/** Global Styling ***/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  overflow-x: hidden;
  overflow: visible;
}
p, li {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}

.btn {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 800;
}
/** Hero Styling **/
.hero {
  background: rgba(13, 12, 12, 0.938);
  height: auto;
}
.hero-gap {
  margin-top: 13em;
  margin-bottom: 14em;
}
.main-text {
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  color: rgba(85, 167, 248, 0.982);
  font-weight: 800!important;
  text-transform: capitalize;
}
.icon-container a{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50px;
  margin-left: 1.2rem;
}
.icon-container img {
  padding: 10px;
}
/** About Me Styling **/
.aboutme {
  background: rgba(13, 12, 12, 0.938);
  height: auto;
}
.about-text-gap {
  margin-top: 70px;
}
.icon-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.my-pic {
  border-radius: 20px;
  animation: fadeIn 2s infinite;
}
@keyframes fadeIn {
  0% {
    filter: brightness(15%);
    opacity: 0.7;
  }
  50% {
    filter: brightness(60%);
    opacity: 1;
  }
  100% {
    filter: brightness(15%);
    opacity: 0.7;
  }
}
/*** Skills Styling ***/
.skill-container {
  background: #fff;
  transform: scale(0.95);
  border-radius: 10px;
}
.tech-icons {
  color: #fff;
  font-size: 5.5em;
}


@media screen and (max-width: 834px) {
  .main-text {
    font-size: 1.5em;
  }
  .second-paragraph {
    display: none;
  }
  .about-text-gap {
    margin: 0;
  }
}