@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/** Global Styling ***/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 2px;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
p, li {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}

.btn {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 800;
}
/** Hero Styling **/
.hero {
  background: rgb(6, 5, 5);
  height: auto;
}
.hero-gap {
  margin-top: 14em;
  margin-bottom: 15.5em;
}
.main-text {
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  color: rgba(85, 167, 248, 0.982);
  font-weight: 800!important;
  text-transform: capitalize;
}
.icon-container a{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50px;
  margin-left: 1.2rem;
}
.icon-container img {
  padding: 10px;
}
/** About Me Styling **/
.aboutme {
  background: rgb(6, 5, 5);
  height: auto;
}
.about-text-gap {
  margin-top: 70px;
  margin-bottom: 15px;
}
.icon-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.my-pic {
  border-radius: 20px;
  animation: fadeIn 2s infinite;
}
@keyframes fadeIn {
  0% {
    opacity: 0.8;
    
  }
  50% {
    filter: brightness(70%);
  }
  100% {
   opacity: 0.8;
   
  }
}
/*** Skills Styling ***/
.skill-container {
  background: #fff;
  transform: scale(0.95);
  border-radius: 10px;
}
.tech-icons {
  color: #fff;
  font-size: 5.5em;
}
/*** Contact Styling ***/
.contact-form-img {
  border-radius: 10px;
  animation: zoomIn 0.6s infinite;
}
.btn-clear-fields {
  background: rgba(85, 167, 248, 0.982)!important;
  color: #fff!important;
}
.btn-send-message {
  background: #fff!important;
  color: rgba(85, 167, 248, 0.982)!important;
}
/** Slider ***/
.slider {
  background: linear-gradient(rgba(0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("./images/teamone.jpeg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.swiper-container {
  background: rgba(225, 225, 225, 0.09);
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: all-scroll;
 
}
.swiper-container div {
  padding: 20px;
}
.swipe {
  font-size: 15px;
  animation: slideLeft 0.7s infinite;
  text-transform: lowercase;
}
.tech-used {
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.project-name {
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: 700;
}
.btn-view-demo {
  background:rgba(85, 167, 248, 0.982)!important;
  border: none!important;
}
.btn-view-demo:hover {
  transform: scale(1.05);
  opacity: 0.8;
  transition: 0.2s;
}
@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
    color:rgba(85, 167, 248, 0.982);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0.6;
  }
  50% {
    filter: saturate(50%);
  }
  70% {
    filter: sepia(50%);
  }
  100% {
    opacity: 0.8;
  }
}
@media screen and (min-width: 834px) {
  .swipe {
    display: none;
  }
}
@media screen and (max-width: 834px) {
  .main-text {
    font-size: 1.3em;
  }
  .hero-gap {
    margin-top: 10em;
    margin-bottom: 10em;
  }
  .second-paragraph {
    display: none;
  }
  .about-text-gap {
    margin: 0;
  }
  .swipe {
    display: inline-flex;
  }
}